################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Y5D.BookStore/.vs/Y5D.BookStore
/Y5D.BookStore/Y5D.BookStore/bin/Debug/netcoreapp3.1
/Y5D.BookStore/Y5D.BookStore/obj
